<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanNest</title>
</head>
<body>
    <form method="post" action="/listings">
        <input name="listing[title]" placeholder="TITLE" type="text"> <br>
        <textarea name="listing[description]" placeholder="Describe"></textarea> <br>
        <input name="listing[image]" placeholder="Enter url" type="text"> <br>
        <input name="listing[price]" placeholder="Price" type="number"> <br>
        <input name="listing[location]" placeholder="loc" type="text"> <br>
        <input name="listing[country]" placeholder="country" type="text"> <br>
        <button>Add</button>
    </form>
</body>
</html>