<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create a new Listing</h3>
            <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="TITLE" type="text" class="form-control" required >
                    <div class="invalid-feedback">
                        Please Enter a valid title
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Describe" class="form-control" required ></textarea>
                    <div class="valid-feedback">
                        looks good
                    </div>
                    <div class="invalid-feedback">
                        please enter a short description
                      </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Img URL</label>
                    <input name="listing[image]" placeholder="Enter url" type="text" class="form-control">
                </div> -->

                <div class="mb-3">
                    <label for="image" class="form-label">Upload img</label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="Price" type="number" class="form-control" required>
                        <div class="invalid-feedback">
                            Please Enter valid price 
                        </div>                 
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="country" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Please Enter valid country
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">location</label>
                    <input name="listing[location]" placeholder="location" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        Please Enter valid location
                    </div>
                </div>
                <button class="btn btn-dark add-btn">Add</button>
            </form>
            <br>
        </div>
    </div>