/* NAV BAR  */

body{
    background-color: rgb(169, 169, 217);
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: #fff;
}
.fa-hotel{
    color: #fe1b2ada;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* FOOTER  */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: #000000;
}
.f-info-links{
    width: 100%;
}
.f-info-social , .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-social i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    display: flex;
    height:  8rem;
    background-color: rgb(225, 222, 222);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* CARDS  */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
   border-radius: 1rem !important;
   width: 100% !important;
   object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.5;
    background-color: white;
}

.add-btn{
    background-color: #fe1b2ada !important;
}

.edit-btn{
    background-color: #fe1b2ada !important;
}

/* Particular listing page */

.show-img{
    height: 30vh;
}

.edit-btn{
    background-color:#fe1b2ada !important ;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Star rating in reviews */
.star-rating {
    font-size: 2rem;
    direction: ltr;
    display: flex;
    flex-direction: row-reverse; /* <- Important for hover effect */
    justify-content: start;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}

/* Hover effect: highlight stars to the left */
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

/* Checked effect: highlight selected + all before */
.star-rating input[type="radio"]:checked ~ label {
    color: #ddd;
}

.star-rating input[type="radio"]:checked + label,
.star-rating input[type="radio"]:checked + label ~ label {
    color: gold;
}